### IntelliJ IDEA ###
.idea/
.DS_store
Group10_AsteroidsGame.iml
out/

/highScores.txt/
highScores.txt
src/highScores.txt



### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

highScores.txt